[DEFAULT]
gpg_binary_location = /usr/bin/gpg
gnupg_home = {{ ddmail_openpgp_encryptor_keyrings_folder }}
listen_on_ip = 127.0.0.1
listen_on_port = 8005
send_to_ip = 127.0.0.1
send_to_port = 10026

[mariadb]
host = 127.0.0.1
port = 3306
db = {{ ddmail_openpgp_encryptor_mail_db }} 
user = {{ ddmail_openpgp_encryptor_mail_db_user }}
password = {{ ddmail_openpgp_encryptor_mail_db_user_password }}

