#!/bin/bash
source /opt/ddmail_openpgp_encryptor/venv/bin/activate
cd /opt/ddmail_openpgp_encryptor/ddmail_openpgp_encryptor
export MODE=DEVELOPMENT
ddmail_openpgp_encryptor --config-file /opt/ddmail_openpgp_encryptor/config/config.toml
