#!/usr/sbin/nft -f

flush ruleset

table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;
		ct state {established, related} accept
		iif lo accept
		tcp dport {{ sshd_port }} accept
		tcp dport 443 accept
                udp dport {{ nebula_listen_port }} accept
		iifname "nebula1" tcp dport {{ sshd_port }} accept
		iifname "nebula1" tcp dport 443 accept
		iifname "nebula1" ip protocol icmp accept
	}
	chain forward {
		type filter hook forward priority 0; policy drop;
	}
	chain output {
		type filter hook output priority 0; policy accept;
	}
}
