ansible
ansible-compat
ansible-core
ansible-lint
attrs
black
bracex
certifi
cffi
charset-normalizer
click
cryptography
filelock
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mypy-extensions
packaging
pathspec
platformdirs
pycparser
Pygments
PyYAML
referencing
requests
resolvelib
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
subprocess-tee
tomli
typing_extensions
urllib3
wcmatch
yamllint
argon2_cffi
flake8
ruff
pyright
