#[IRC-ILITA]
#type = client
#address = 127.0.0.1
#port = 6668
#destination = irc.ilita.i2p
#destinationport = 6667
#keys = irc-keys.dat

#[IRC-IRC2P]
#type = client
#address = 127.0.0.1
#port = 6669
#destination = irc.postman.i2p
#destinationport = 6667
#keys = irc-keys.dat

#[SMTP]
#type = client
#address = 127.0.0.1
#port = 7659
#destination = smtp.postman.i2p
#destinationport = 25
#keys = smtp-keys.dat

#[POP3]
#type = client
#address = 127.0.0.1
#port = 7660
#destination = pop.postman.i2p
#destinationport = 110
#keys = pop3-keys.dat

[http-in]
type = http
host = 127.0.0.1  
port = 8080
keys = key.dat

[smtp-in]
type = server
host = 127.0.0.1
port = 10025
keys = key.dat

[imap-in]
type = server
host = 127.0.0.1
port = 143
keys = key.dat

# see more examples at https://i2pd.readthedocs.io/en/latest/user-guide/tunnels/

