# Redact line that contain users ip when authenticated from postfix logs
if (
    $syslogfacility-text == "mail" and (
        $msg contains "connect from" or
        $msg contains "disconnect from" or
        $msg contains "sasl_username="
    )
) then {
    stop
}
