class Prod():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_prod_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_prod_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_prod_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
class Test():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_test_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_test_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_test_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
class Dev():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_dev_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_dev_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_dev_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
