class Prod():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 

