[Unit]
Description=Gunicorn instance to serve ddmail
After=network.target

[Service]
Environment="MODE=PRODUCTION"
User={{ www_ddmail_se_gunicorn_user }}
Group={{ www_ddmail_se_gunicorn_group }}
WorkingDirectory=/opt/ddmail_venv/
Environment="PATH=/opt/ddmail_venv/bin/"
ExecStart=/opt/ddmail_venv/bin/gunicorn --log-file /var/log/gunicorn/gunicorn.log --workers 2 "ddmail:create_app()" 
RuntimeDirectory=

# Prevent acquiring new privileges. Warning: breaks execution of SUID binaries
NoNewPrivileges=yes

# Use dedicated /tmp
PrivateTmp=yes

# Hide user homes
ProtectHome=yes

# Service may not create SUID/SGID files
RestrictSUIDSGID=yes

# Service may not create writable and executable memory mappings
MemoryDenyWriteExecute=yes

# Create a filesystem jail with namespace
TemporaryFileSystem=/:ro
BindReadOnlyPaths=/opt/ddmail_venv /usr/bin/ls /usr/bin/python3.9 /usr/bin/python3 /lib/x86_64-linux-gnu /lib64 /usr/lib/python3.9 /run/mysqld/mysqld.sock
BindPaths=/var/log/gunicorn/gunicorn.log

# Deny all CAP
CapabilityBoundingSet=
AmbientCapabilities=

# System call filter
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target

