[Unit]
Description=Gunicorn instance to serve ddmail
After=network.target

[Service]
User=www-ddmail
Group=www-ddmail
WorkingDirectory=/opt/ddmail_venv/
Environment="PATH=/opt/ddmail_venv/bin/"
ExecStart=/opt/ddmail_venv/bin/gunicorn --workers 2 "ddmail:create_app()"

# Prevent acquiring new privileges. Warning: breaks execution of SUID binaries
NoNewPrivileges=yes

# Use dedicated /tmp
PrivateTmp=yes

# Hide system users
PrivateUsers=yes

# Hide user homes
ProtectHome=yes

# Prevent access to /dev
PrivateDevices=yes

# Prevent loading or reading kernel modules
ProtectKernelModules=yes

# Prevent altering kernel tunables
ProtectKernelTunables=yes

# Set filesystem to read only
ProtectSystem=strict                  

# Service may not create SUID/SGID files
RestrictSUIDSGID=yes

# Service may not create writable and executable memory mappings
MemoryDenyWriteExecute=yes

# Hide / with a tmpfs filesystem, whitelist path that is needed for the application 
TemporaryFileSystem=/:ro
BindReadOnlyPaths=/opt/ddmail_venv

# CAP filter
CapabilityBoundingSet=~CAP_SYS_ADMIN

# System call filter whitelist @system-service deny all other, for more information regaring what system calls that is included run: systemd-analyze syscall-filter
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
