# Dovecot configuration for Debian 13 / Dovecot 2.4
dovecot_config_version = 2.4.0
dovecot_storage_version = 2.4.0

##
## Protocols
##
protocols {
    imap = yes
    lmtp = yes
}

##
## Network settings
##
listen = *
login_trusted_networks = 127.0.0.0/8

##
## SSL/TLS Configuration
##
ssl = required
ssl_server_cert_file = {{ dovecot_ssl_server_cert_file }}
ssl_server_key_file = {{ dovecot_ssl_server_key_file }}
ssl_server_dh_file = /etc/dovecot/dh.pem
ssl_cipher_list = ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256
ssl_min_protocol = TLSv1.2

##
## Authentication
##
auth_mechanisms = plain login
auth_username_format = %{user | lower}

##
## SQL Database Configuration
##
sql_driver = mysql
mysql /run/mysqld/mysqld.sock {
  user = {{ mail_db_user_r }}
  password = {{ mail_db_user_r_password }}
  dbname = {{ mail_db_name }}
}

##
## Password and User Databases
##
passdb_default_password_scheme = ARGON2ID

passdb sql {
    #query = SELECT email AS user, password_hash AS password FROM emails WHERE email = '%{user | username | lower}@%{user | domain | lower}';
    query = SELECT email as user,password_hash as password, TO_BASE64('%{password}') AS userdb_crypt_user_key_password FROM emails WHERE email='%{user}';
}

#userdb sql {
#    query = SELECT email AS user FROM emails WHERE email = '%{user | username | lower}@%{user | domain | lower}';
#    iterate_query = SELECT email AS user FROM emails;
#}

userdb static {
  fields {
    uid = vmail
    gid = vmail
    #home = /var/mail/vhosts/%d/%n
    home = /var/mail/vhosts/%{user | domain}/%{user | username}
  }
}

##
## Mail Storage
##
mail_uid = vmail
mail_gid = vmail
mail_privileged_group = vmail
mail_home = /var/mail/vhosts/%{user | domain}/%{user | username}
mail_driver = maildir
mail_path = ~/mail
mailbox_list_layout = fs

##
## NFS complient settings
##
mmap_disable = yes
mail_fsync = always

##
## Namespaces
##
namespace inbox {
    inbox = yes

    mailbox Drafts {
        auto = subscribe
        special_use = \Drafts
    }

    mailbox Sent {
        auto = subscribe
        special_use = \Sent
    }

    mailbox Spam {
        auto = subscribe
        special_use = \Junk
    }

    mailbox Trash {
        auto = subscribe
        special_use = \Trash
    }
}

##
## Services
##
service imap-login {
  inet_listener imap {
    inet_listener imap@127.0.0.1 {
      port = 143
    }
  }
    inet_listener imaps {
        port = 993
        ssl = yes
    }
}

service lmtp {
    unix_listener /var/spool/postfix/private/dovecot-lmtp {
        mode = 0600
        user = postfix
        group = postfix
    }
}

service auth {
    unix_listener /var/spool/postfix/private/auth {
        mode = 0666
        user = postfix
        group = postfix
    }

    unix_listener auth-userdb {
        mode = 0666
        user = vmail
        group = vmail
    }

    user = dovecot
}

service auth-worker {
    user = vmail
}

##
## Mail Plugins
##
mail_plugins {
    quota = yes
    mail_crypt = yes
}

##
## Mail Crypt Configuration
##
mail_attribute {
  dict file {
    path = %{home}/Maildir/dovecot-attributes
  }
}

#mail_crypt_save_version = 2
crypt_user_key_curve = secp521r1
crypt_user_key_require_encrypted = yes

##
## Quota Configuration
##
quota "User quota" {
    driver = count
}
quota_exceeded_message = User %{user} has exceeded the storage volume.

##
## Logging
##
log_timestamp = "%Y-%m-%d %H:%M:%S "
login_log_format_elements = user=<%u> method=%m rip=%r lip=%l mpid=%e %c

##
## Address Extensions
##
recipient_delimiter = +
