user = {{ mail_db_user_r }}
password = {{ mail_db_user_r_password }}
hosts = 127.0.0.1
dbname = {{ mail_db_name }}
#query = SELECT 1 FROM domains WHERE domain='%s'
query = SELECT 1 FROM domains left join accounts on domains.account_id = accounts.id where is_enabled = 1 and domain = '%s'
