class Prod():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_prod_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_prod_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_prod_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_prod_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_prod_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_prod_password }}'
    PAYMENT_MAIL_NAME = '{{ ddmail_webapp_prod_payment_mail_name }}'
    PAYMENT_MAIL_ADDRESS = '{{ ddmail_webapp_prod_payment_mail_address }}'
    PAYMENT_MAIL_POSTCODE = '{{ ddmail_webapp_prod_payment_mail_postcode }}'
    PAYMENT_MAIL_COUNTRY= '{{ ddmail_webapp_prod_payment_mail_country }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_prod_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_prod_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_prod_spf_record }}'
    DKIM_RECORD = '{{ ddmail_webapp_prod_dkim_record }}'
    DMARC_RECORD = '{{ ddmail_webapp_prod_dmarc_record }}'
class Test():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_test_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_test_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_test_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_test_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_test_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_test_password }}'
    PAYMENT_MAIL_NAME = '{{ ddmail_webapp_test_payment_mail_name }}'
    PAYMENT_MAIL_ADDRESS = '{{ ddmail_webapp_test_payment_mail_address }}'
    PAYMENT_MAIL_POSTCODE = '{{ ddmail_webapp_test_payment_mail_postcode }}'
    PAYMENT_MAIL_COUNTRY= '{{ ddmail_webapp_test_payment_mail_country }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_test_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_test_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_test_spf_record }}'
    DKIM_RECORD = '{{ ddmail_webapp_test_dkim_record }}'
    DMARC_RECORD = '{{ ddmail_webapp_test_dmarc_record }}'
class Dev():
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_dev_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_dev_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_dev_sqlalchemy_database_uri }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_dev_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_dev_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_dev_password }}'
    PAYMENT_MAIL_NAME = '{{ ddmail_webapp_dev_payment_mail_name }}'
    PAYMENT_MAIL_ADDRESS = '{{ ddmail_webapp_dev_payment_mail_address }}'
    PAYMENT_MAIL_POSTCODE = '{{ ddmail_webapp_dev_payment_mail_postcode }}'
    PAYMENT_MAIL_COUNTRY= '{{ ddmail_webapp_dev_payment_mail_country }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_dev_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_dev_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_dev_spf_record }}'
    DKIM_RECORD = '{{ ddmail_webapp_dev_dkim_record }}'
    DMARC_RECORD = '{{ ddmail_webapp_dev_dmarc_record }}'
