[PRODUCTION]
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_prod_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_prod_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_prod_sqlalchemy_database_uri }}'
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_prod_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_prod_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_prod_password }}'
    PAYMENT_BANKGIRO = '{{ ddmail_webapp_prod_payment_bankgiro }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_prod_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_prod_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_prod_spf_record }}'
    DKIM_CNAME_RECORD1 = '{{ ddmail_webapp_prod_dkim_record1 }}'
    DKIM_CNAME_RECORD2 = '{{ ddmail_webapp_prod_dkim_record2 }}'
    DKIM_CNAME_RECORD3 = '{{ ddmail_webapp_prod_dkim_record3 }}'
    DMARC_RECORD = '{{ ddmail_webapp_prod_dmarc_record }}'
    TOR_ADDRESS = '{{ ddmail_webapp_prod_tor_address }}'
    I2P_ADDRESS = '{{ ddmail_webapp_prod_i2p_address }}'
    [PRODUCTION.LOGGING]
        LOGLEVEL = 'INFO'
        LOG_TO_FILE = false
        LOGFILE = '/var/log/ddmail_webapp.log'
        LOG_TO_SYSLOG = true
        SYSLOG_SERVER = '/dev/log'

[TESTING]
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_test_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_test_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_test_sqlalchemy_database_uri }}'
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_test_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_test_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_test_password }}'
    PAYMENT_BANKGIRO = '{{ ddmail_webapp_test_payment_bankgiro }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_test_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_test_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_test_spf_record }}'
    DKIM_CNAME_RECORD1 = '{{ ddmail_webapp_test_dkim_record1 }}'
    DKIM_CNAME_RECORD2 = '{{ ddmail_webapp_test_dkim_record2 }}'
    DKIM_CNAME_RECORD3 = '{{ ddmail_webapp_test_dkim_record3 }}'
    DMARC_RECORD = '{{ ddmail_webapp_test_dmarc_record }}'
    TOR_ADDRESS = '{{ ddmail_webapp_test_tor_address }}'
    I2P_ADDRESS = '{{ ddmail_webapp_test_i2p_address }}'
    [TESTING.LOGGING]
        LOGLEVEL = 'DEBUG'
        LOG_TO_FILE = true
        LOGFILE = '/var/log/ddmail_webapp.log'
        LOG_TO_SYSLOG = false
        SYSLOG_SERVER = '/dev/log'

[DEVELOPMENT]
    WTF_CSRF_SECRET_KEY = '{{ ddmail_webapp_dev_wtf_csrf_secret_key }}'
    SECRET_KEY = '{{ ddmail_webapp_dev_secret_key }}'
    SQLALCHEMY_DATABASE_URI = '{{ ddmail_webapp_dev_sqlalchemy_database_uri }}'
    EMAIL_REMOVER_URL = 'http://127.0.0.1:8001'
    EMAIL_REMOVER_PASSWORD = '{{ ddmail_email_remover_dev_password }}'
    DMCP_KEYHANDLER_URL = 'http://127.0.0.1:8002'
    DMCP_KEYHANDLER_PASSWORD = '{{ ddmail_dmcp_keyhandler_dev_password }}'
    OPENPGP_KEYHANDLER_URL = 'http://127.0.0.1:8003'
    OPENPGP_KEYHANDLER_PASSWORD = '{{ ddmail_openpgp_keyhandler_dev_password }}'
    PAYMENT_BANKGIRO = '{{ ddmail_webapp_dev_payment_bankgiro }}'
    MX_RECORD_HOST = '{{ ddmail_webapp_dev_mx_record_host }}'
    MX_RECORD_PRIORITY = '{{ ddmail_webapp_dev_mx_record_priority }}'
    SPF_RECORD = '{{ ddmail_webapp_dev_spf_record }}'
    DKIM_CNAME_RECORD1 = '{{ ddmail_webapp_dev_dkim_record1 }}'
    DKIM_CNAME_RECORD2 = '{{ ddmail_webapp_dev_dkim_record2 }}'
    DKIM_CNAME_RECORD3 = '{{ ddmail_webapp_dev_dkim_record3 }}'
    DMARC_RECORD = '{{ ddmail_webapp_dev_dmarc_record }}'
    TOR_ADDRESS = '{{ ddmail_webapp_dev_tor_address }}'
    I2P_ADDRESS = '{{ ddmail_webapp_dev_i2p_address }}'
    [DEVELOPMENT.LOGGING]
        LOGLEVEL = 'DEBUG'
        LOG_TO_FILE = true
        LOGFILE = '/var/log/ddmail_webapp.log'
        LOG_TO_SYSLOG = false
        SYSLOG_SERVER = '/dev/log'
