{% for server_name in apache2_server_name %}
<VirtualHost *:80>
    ServerName {{ server_name }}

    Redirect permanent / https://{{ server_name }}

    ErrorLog ${APACHE_LOG_DIR}/clearnet_port80_error.log
    CustomLog ${APACHE_LOG_DIR}/clearnet_port80_access.log privacy
</VirtualHost>
{% endfor %}
