[Unit]
Description=The Apache HTTP Server
After=network.target remote-fs.target nss-lookup.target
Documentation=https://httpd.apache.org/docs/2.4/

[Service]
Type=forking
Environment=APACHE_STARTED_BY_SYSTEMD=true
ExecStart=/usr/sbin/apachectl start
ExecStop=/usr/sbin/apachectl graceful-stop
ExecReload=/usr/sbin/apachectl graceful
RuntimeDirectory=apache2

KillMode=mixed
Restart=on-abort
OOMPolicy=continue

# Prevent acquiring new privileges. Warning: breaks execution of SUID binaries
NoNewPrivileges=yes

# Use dedicated /tmp
PrivateTmp=yes

# Hide user homes
ProtectHome=yes

# Prevent access to /dev
PrivateDevices=yes

# Service may not create SUID/SGID files
RestrictSUIDSGID=yes

# Service may not create writable and executable memory mappings
MemoryDenyWriteExecute=yes

ProtectSystem=strict
ProtectDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

InaccessibleDirectories=/var/mail /opt /root /home
ReadWriteDirectories=/var/log/apache2


# Hide / with a tmpfs filesystem, whitelist path that is needed for the application 
#TemporaryFileSystem=/:ro
#BindPaths=/var/log/apache2 /var/run /var/lock /run/lock
#BindReadOnlyPaths=/usr/share/apache2/ /bin/sh /usr/bin/mkdir /usr/bin/rmdir /usr/bin/mktemp /usr/bin/chmod /usr/bin/chown /usr/bin/stat /usr/bin/id /usr/bin/rm /usr/sbin/apache2 /usr/sbin/apachectl /usr/sbin/apache2ctl /lib/x86_64-linux-gnu /lib64 /var/www /var/lib/apache2 /var/cache/apache2 /usr/lib/apache2 /etc/letsencrypt /etc/passwd /etc/group /etc/apache2 /etc/mime.types /etc/resolv.conf

# CAP filter whitelist
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_CHOWN 
AmbientCapabilities=

# System call filter whitelist @system-service deny all other, for more information regaring what system calls that is included run: systemd-analyze syscall-filter
SystemCallFilter=@system-service


[Install]
WantedBy=multi-user.target
