<IfModule mod_evasive20.c>
    DOSHashTableSize    3097
    DOSPageCount        16
    DOSSiteCount        16
    DOSPageInterval     10
    DOSSiteInterval     10
    DOSBlockingPeriod   300

    #DOSEmailNotify      you@yourdomain.com
    #DOSSystemCommand    "su - someuser -c '/sbin/... %s ...'"
    DOSLogDir           "/var/log/apache/mod_evasive"
</IfModule>

