# Reject when reaching this score.
reject = null;

# Rewrite the subject when reaching this score.
rewrite_subject = 5.0;
subject = "*** SPAM *** %s"

# Add header "X-Spam" when reaching this score.
add_header = 4.0;

# Apply greylisting when reaching this score (will emit "soft reject action").
greylist = 4.0;
