# Add "extended Rspamd headers" (default false) (enables x-spamd-result, x-rspamd-server & x-rspamd-queue-id routines)
extended_spam_headers = true;

# Routines to use- this is the only required setting (may be omitted if using extended_spam_headers)
#use = ["x-spamd-bar", "authentication-results"];
