rules {
  # For each condition we want to force an action on we define a rule
  PHISHING {
    action = "rewrite subject";
    expression = "PHISHING";
    subject = "*** PHISHING *** %s";
  }
  MALWARE {
    action = "rewrite subject";
    expression = "CLAM_VIRUS";
    subject = "*** MALWARE *** %s";
  }
  MACRO {
    action = "rewrite subject";
    expression = "OLETOOLS";
    subject = "*** RISKY OFFICE MACRO *** %s";
    honor_action = ["rewrite subject"];
  }
}
