[Unit]
Description=Gunicorn instance to serve ddmail_openpgp_keyhandler
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Environment="MODE=PRODUCTION"
User={{ ddmail_openpgp_keyhandler_runas_user }}
Group={{ ddmail_openpgp_keyhandler_runas_group }}
WorkingDirectory=/opt/ddmail_openpgp_keyhandler/
Environment="PATH=/opt/ddmail_openpgp_keyhandler/venv/bin/"
ExecStart=/opt/ddmail_openpgp_keyhandler/venv/bin/gunicorn -b 127.0.0.1:8003 --log-file /var/log/gunicorn/ddmail_openpgp_keyhandler.log --workers 2 "ddmail_openpgp_keyhandler:create_app(config_file = \"/opt/ddmail_openpgp_keyhandler/config/config.toml\")"
RuntimeDirectory=ddmail_openpgp_keyhandler
Restart=on-failure
RestartSec=10s

# Prevent acquiring new privileges. Warning: breaks execution of SUID binaries
NoNewPrivileges=yes

# Use dedicated /tmp
PrivateTmp=yes

# Hide user homes
ProtectHome=yes

# Service may not create SUID/SGID files
RestrictSUIDSGID=yes

# Service may not create writable and executable memory mappings
MemoryDenyWriteExecute=yes

# Service may only use loopback network interface
#PrivateNetwork=yes

# Create a filesystem jail with namespace
#TemporaryFileSystem=/:ro
BindReadOnlyPaths=/opt/ddmail_openpgp_keyhandler /usr/bin/ls /usr/bin/python3.11 /usr/bin/python3 /lib/x86_64-linux-gnu /lib64 /usr/lib/python3.11 /usr/bin/gpg
BindPaths=/var/log/gunicorn/ddmail_openpgp_keyhandler.log /var/log/ddmail_openpgp_keyhandler.log /dev/log /opt/ddmail_openpgp_keyhandler/tmp

# Deny all CAP
CapabilityBoundingSet=
AmbientCapabilities=

# System call filter
SystemCallFilter=@system-service

# Only allow network traffic on loopback.
IPAddressDeny=any
IPAddressAllow=127.0.0.0/8

[Install]
WantedBy=multi-user.target
